<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e88b9c">  <td>19/09/18 16:36:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MobileExercise.beforeClass()[pri:0, instance:com.example.appium.MobileExercise@6325a3ee]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@22429093</td>   <td></td> </tr>
<tr bgcolor="e88b9c">  <td>19/09/18 16:36:45</td>   <td>21384</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MobileExercise.testLocation()[pri:0, instance:com.example.appium.MobileExercise@6325a3ee]">testLocation</td> 
  <td>main@22429093</td>   <td></td> </tr>
<tr bgcolor="e88b9c">  <td>19/09/18 16:37:19</td>   <td>55764</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MobileExercise.afterClass()[pri:0, instance:com.example.appium.MobileExercise@6325a3ee]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@22429093</td>   <td></td> </tr>
</table>
